.container {
    width: 80vw;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

h1 {
    font-size: 6rem;
    color: #ccc;
}

.buttons {
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    color: #1d1a1a;
    font-weight: bold;
}

.start {
    background-color: #adff2f;
}

.start:hover {
    box-shadow: 0px 0px 30px 5px rgb(173, 255, 47);
}

.pause {
    background-color: #ff4500;
}

.pause:hover {
    box-shadow: 0px 0px 30px 5px rgb(255, 69, 0);
}

.stop {
    background-color: #ff0000;

}

.stop:hover {
    box-shadow: 0px 0px 30px 5px rgb(255, 0, 0);
}

@media screen and (width < 480px) {
    .container {
        width: 100vw;
    }

    h1 {
        font-size: 3.5rem;
    }

    .buttons {
        width: 80vw;


    }

    button {
        width: 80px;
        height: 80px;
        font-size: 1.2rem;
    }
}

@media screen and (481px <=width <=960px) {
    .container {
        width: 100vw;
    }

    .buttons {
        width: 50vw;

    }

}